
@font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(../fonts/gk5FxslNkTTHtojXrkp-xGAzD5WKQVN4wSyA0MYYi4rr7w4p9aSvGirXi6XmeXNA.woff) format('woff');
}

html, body {
	height: 100%;
}

body {
	background-color: #000000;
	margin: 0;
	font-family: Arial;
	overflow: hidden;
}

#search {
	display: inline;
	height: 37px;
	left: 47px;
	margin-left: 30px;
}

#search input {
	display: inline;
	width: 483px;
	height: 31px;
	color: white;
	background-color: transparent;
	border: 1px solid #e52d27;
	padding: 10px;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	-webkit-border-radius: 0px;
}

#button {
	margin-left: -6px;
	display: inline;
	color: #e52d27;
	background-color: transparent;
	border: 1px solid #e52d27;
	font-family: arial, sans-serif;
	font-size: 15px;
	height: 31px;
	width: 31px;
	padding-bottom: 5px;
}


.dropdown-menu {
	width: 483px;
	color: white !important;
	background-color: transparent;
	border: 1px solid #e52d27;
	padding: 10px;
	padding-left: 0px;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	-webkit-border-radius: 0px;
	text-align: left;
}

.dropdown-menu >li:hover {
	background: #cc181e;
	color: white;
	width: 481px;
}

.dropdown-menu>li>a {
	color:white;
	padding: 1px 11px;
}

.dropdown-menu>li>a:focus {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background: #cc181e;
	color: white;
	width: 481px;
}
#button:hover {
	color:white;
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}


#header {
	display: inline;
	position: absolute;
	top: -5px;
	font-size: 22px;
	color: white;
	z-index: 100000;
	margin-left: 17px;
	margin-top: 9px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
	outline: 0 none;
}

.three {
	font-family: 'Open Sans Condensed';
	font-size:19px;
	font-weight: bolder;
	color:#cc181e;
	position: absolute;
	left:5px;
	top:3px;
}

.nl {
	font-family: 'Open Sans Condensed';
	font-size: 17px;
	color: white;
	margin-left: 73px;
	font-weight: 200;
}

.logo {
	width: 75px;
	position: absolute;
	top: 0px;
	left: 10px;
	top: -7px;
}

.now {
	color:#cc181e;
	display: inline;
	cursor: default;
}

.red {
	color:#cc181e;
	display: inline;
}

.change:hover {
	text-decoration: underline;
	cursor: pointer;
}

.now-showing {
	float: right;
	margin-right: 44px;
	display: inline;
	margin-top: -12px;
	font-family: 'Open Sans Condensed';
	font-size: 18px;
	color: white;
}

.error {
	display: none;
	color:#cc181e;
	position: absolute;
	display: inline;
	left:35%;
	top:50%;
}

.inline {
	display: inline;
}

.dropdown-menu-change {
	color:white;
	position: absolute;
	list-style: none;
}

.fa-video-camera {
	font-size: 10px;
	margin-right: 5px;
}

.white {
	color:white !important;
}

a {
	cursor: pointer;
}
.fa-bars,.fa-google {
	font-size: 16px;
	margin-right: 4px;
	color: white;
}

.playlists {
	margin-left: 40px;
	margin-right: 32px;
}

.now-showing-title {
	cursor: default;
}
.now-showing-title:hover {
	text-decoration: none;
}

#login:hover {
	color:white !important;
}

.fbShareLink:hover {
	color: '#3887CA' !important;
} 
.fbShareLink {
	font-family: 'Open Sans Condensed';
	cursor:pointer;
	color: white;
}

.fa-facebook-square {
	margin-right: 5px;
}

.fb-on-display {
	position: absolute;
	margin-left: 5px;
	color: white;
	font-size: 40;
	font-family: 'Open Sans Condensed';
	cursor:pointer;
}

.vid-title {
	position: absolute;
	margin-left: 5px;
	color: white;
	font-size: 40;
	font-family: 'Open Sans Condensed';
}

.preloader {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #2b2d35;
	/* background-color is important, or it will be see-through, and we don't want that! */
	text-align: center;
	z-index: 9999999;
}
.preloader .spinner {
	margin: 100px auto 0;
	width: 70px;
	height: 70px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.preloader .spinner > div {
	width: 18px;
	height: 18px;
	background-color: white;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.preloader .spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.preloader .spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
	}
}
@keyframes bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0);
		-webkit-transform: scale(0);
	}
	40% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}