<!DOCTYPE html>
<html ng-app="YouTube3DApp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<!-- Facebook Meta Tags -->
	<meta property="og:title" content="3DYouTube.nl - Browse YouTube in 3D!">
	<meta property="og:image" content="{{og_image}}">
	<meta property="og:site_name" content="3DYouTube.nl">
	<meta property="og:url" content="{{og_url}}"/>
	<meta property="og:description" content="Search YouTube or add your playlists to enjoy a cool 3D experience.">
	<meta property="og:type" content="website" />
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="3DYouTube.nl"> 
	<meta name="twitter:domain" content="http://www.3DYouTube.nl"/>
	<meta name="twitter:title" content="3DYouTube.nl - Browse YouTube in 3D!">
	<meta name="twitter:description" content="3DYouTube.nl - Browse YouTube in 3D!">
	<meta name="twitter:image" content="http://www.3dyoutube.nl/static/img/fb.png">
	<title>YouTube 3D Search</title>
	<link rel="stylesheet" type="text/css" href="/static/client/styles/main.css?v=1">,
	<link rel="stylesheet" type="text/css" href="/static/css/fa/css/font-awesome.min.css?v=1">
</head>
<body ng-controller="MainCtrl">
	{% if (category == 'video') %}
	<div class="preloader">
		<div class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>
	{% endif %}
	<div id="header">
		<div class="inline">
			<span class="three">
				<strong>
					3D
				</strong>
			</span>
			<img class="logo" src="/static/img/yt.png">
			<span class="nl">
				.nl
			</span>
		</div>
		
		<div id="search">
			<input type="text" name="q" value="" id="query" autocomplete="off" maxlength="256" x-webkit-speech="" autofocus="autofocus" ng-model="selected" typeahead="q for q in getTerms($viewValue) | filter:$viewValue | limitTo:4" typeahead-loading="searching..." typeahead-on-select="onSearchTermSelected($item)" placeholder=""/>
		</div>
		<div class="inline">
			<button id="button" ng-click="doSearch();"><i class="fa fa-search"></i>
			</button>
		</div>

	</div>
	<div id="container">
	</div>
	<div class="now-showing">
		<div class="inline playlists">
			<a id="login" class="red" ng-click="doAuthorize_Notif();"><i class="fa fa-bars" id="icon-login"></i>[[loginText]]</a>
			<span  id="change" class="" on-toggle="toggled(open)">
				<a href class="dropdown-toggle red" ng-click="onChangePlaylistLinkClicked();">
					<i class="fa fa-bars"></i>my playlists
				</a>
				<ul class="dropdown-menu-change">
					<li ng-repeat="choice in items">
						<a href class="white" ng-click="onPlaylistChanged(choice.id, choice.title);"><i class="fa fa-video-camera"></i>[[choice.title]]</a>
					</li>
				</ul>
			</span>

		</div>
		<div class="inline">
			<div class="now">
				<a class="white now-showing-title">
					[[nowShowingTitle]]
				</a>[[nowShowingDesc]]
			</div>
		</div>
	</div>
	<div class="error" style="display:none;">error connecting to server. please try reloading the page.</div>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', '<your UA here>']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script type="text/javascript">
		var YouTube3DAppConfig  = {};
		YouTube3DAppConfig.globals = {};
		YouTube3DAppConfig.globals.isMobile  = {{mobile}};
		YouTube3DAppConfig.globals.country = '{{country}}';
		YouTube3DAppConfig.globals.category = '{{category}}';
		YouTube3DAppConfig.globals.selectedVideoID = '{{video_id}}';
		YouTube3DAppConfig.globals.selectedVideoThumbnail = '{{og_image}}';
	</script>
	<script src="/static/client/scripts/scripts.js?v=1"></script>
	<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
	<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-<your add this id>"></script>
</body>
</html>